.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.categoria {
    flex: 0 1 calc(20% - 30px);
    font-size: 24px;
    font-weight: 400;

    border: 2px solid #f93d8a;
    background-color: #FFFFFF;
    color: #f93d8a;
    border-radius: 15px;
    
    padding: 5px 30px;

    cursor: pointer;
    text-align: center;
}

.categoria:hover {
    background-color: #f93d8a;
    color: #FFFFFF;
}
