.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.categoria {
    flex: 0 1 calc(20% - 30px);
    font-size: 24px;
    font-weight: 400;

    
    background-color: #201e1c;
    border: 3px solid #201e1c;
    color: #FFFFFF;
    border-radius: 15px;
    
    padding: 5px 30px;

    cursor: pointer;
    text-align: center;
}

.categoria:hover {
    background-color: #ffffff;
    border: 3px solid #201e1c;
    color: #201e1c;
}
