@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.titulo {
    background-color: #201e1c;
    color: #FFFFFF;
    padding: 5% 0;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Rethink Sans", sans-serif;
}

.exercicio-conteudo {   
    padding: 2% 5%;
}

.exercicio-conteudo h1 {
    font-size: 50px;
    color: #f93d8a
}

.exercicio-conteudo h2 {
    color: #242323;
    font-size: 35px;
    margin-top: 15px;
}

.exercicio-conteudo h3 {
    color: #242323;
    font-size: 25px;
    margin-top: 15px;
}

.exercicio-conteudo p {
    font-size: 20px;
}

@media (max-width: 1000px) {    
    .exercicio-conteudo h1 {
        font-size: 40px;
        color: #f93d8a;
    }
}
